# Folders to ignore
__pycache__/
.vscode/
venv/
temp/

# Files to ignore
.env
test.py


# pytest files to ignore
pytest-cov.ini
pytest-html.ini
pytest-debug.ini
.coverage
coverage_relatorio_html/

# logs
logs/
reports/